body{
    background-color: black;
}
li{
    color: white;
    font-size: 20px;
    cursor: pointer;
}

li:hover{
    color: gray;
}

button{
    border: none;
}

ol{
    overflow: scroll;
    height: 400px;
}
